* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
}

.navbar {
    height: 75px;
    padding: 15px;
}

.titulo {
    text-align: center;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(152, 7, 7);

}

.piedepagina {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;

}

body {
    background-image: url(/Assets/IMG/joe1.png);
}

.header {
    background-color: rgb(255, 0, 183);
}

.footer {
    background-color: rgb(255, 0, 183);
    height: 50px;
    padding: 15px;
}

menu {
    background-color: rgb(246, 5, 178);
    width: 10em;
    min-height: 100vh;
}

menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

menu li {
    padding: 1em;
    list-style: none;
}

.grid-item {
    border: solid 1px black;
 width: 15%;
 

}

.grid-item img {
        width: 100%;
    }

.grid-container1 {
    display: flex;
flex-wrap: wrap;
gap: 10px;
padding: 15px;

}

.letramenu {
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.letramenu2 {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.color{
    background-color: blue;
    text-align: center;
    padding: 10px;
    color: white;
}
.reseña{
    text-align: center;
    font-size: small;

}
.precio{
    text-align: center;
}

